@media (max-width: 576px) {
  #herosec {
    height: 252px;
    background-position: left bottom, right bottom;
    background-size: auto 50%, auto 50%;
  }
  .trees {
    flex-direction: column;
  }
  .category {
    width: 90%;
    padding-left: 20px;
  }
  .choosetree {
    width: 90%;
    margin: 0 auto;
  }
  .catchoose {
    flex-direction: column;
  }
  .cart {
    width: 90%;
    margin: 0 auto;
  }
  .form-container {
    width: 100%;
  }
}

/* medium device */
@media (min-width: 576px) and (max-width: 1024px) {
  #herosec {
    background-position: left bottom, right bottom;
    background-size: auto 60%, auto 60%;
  }
  .cart {
    width: 250px;
    margin: 0 auto;
  }
  .trees {
    flex-direction: column;
  }
  .category {
    width: 300px;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .choosetree {
    width: 80%;
    margin: 0 auto;
  }
  .cart {
    width: 90%;
    margin: 0 auto;
  }
  .form-container {
    width: 100%;
  }
}

/* larger device */
@media (min-width: 1024px) and (max-width: 1530px) {
  #herosec {
    height: 302px;
    background-position: left bottom, right bottom;
    background-size: auto 80%, auto 80%;
  }
  .choosetree {
    width: 80%;
    margin: 0 auto;
  }
  .cart {
    width: 350px;
  }
}
