@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* body */
* {
  font-family: "Inter";
}
header {
  background-color: #15803d;
  color: white;
}
#navBtn {
  background-color: #facc15;
  color: #15803d;
  border-radius: 20px;
  outline: none;
  border: none;
}
/* hero */
#herosec {
  height: 383px;
  background-color: #cff0dc;
  background-image: url(../assets/hero-leaf1.png), url(../assets/hero-leaf2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: auto 100%, auto 100%;
}
#plant {
  font-size: 14px;
  margin-bottom: 20px;
}

/* tree section */
.allsec {
  background-color: rgba(207, 240, 220, 0.37);
  padding-bottom: 30px;
}

.trees {
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 20px;
}
.category {
  width: 250px;
}
.choosetree {
  width: 1090px;
}
.cart {
  width: 250px;
  padding: 12px 5px;
  border-radius: 20px;
}
/* loadbutton */
.loadbutton {
  background: transparent;
  height: 40px;
  color: #1f2937;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
#allcat {
  display: block;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
}
.catchoose {
  display: flex;
}
/* card */

.card {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
.subtitle {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.description {
  font-size: 12px;
  color: #1f2937;
  margin-bottom: 10px;
}
.fruit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fruitTree {
  font-size: 14px;
  font-weight: 600;
  background-color: #dcfce7;
  color: #15803d;
  padding: 4px 12px;
  border-radius: 20px;
}
#price {
  color: #1f2937;
  font-weight: 700;
  font-size: 15px;
  border: none;
  background: transparent;
}
#cart {
  background-color: #15803d;
  color: #cff0dc;
  margin-top: 10px;
  border-radius: 16px;
}
#imageBox {
  width: 100%;
  height: 186px;
  object-fit: cover;
  border-radius: 16px;
}

/* active class */
.active {
  background-color: #15803d !important;
  color: white;
}

/* about */
.aboutIn {
  background-color: rgba(207, 240, 220, 0.37);
}

.impact {
  background: #a4e6be;
}

/* form */
.inputBox {
  background-color: #15803d;
}

.form-container {
  background-color: #4caf50;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 650px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  color: #fff;
  margin-bottom: 8px;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
}
.form-group input:focus,
.form-group select:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #ffd700;
  border: none;
}
.btn-donate {
  width: 100%;
  padding: 15px;
  background-color: #ffd700;
  color: #15803d;
  border: none;
  border-radius: 2rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-donate:hover {
  background-color: #e6c200;
}
footer {
  background-color: #14532d;
  padding: 20px 0px;
}
.foot {
  color: white;
  text-align: center;
}
.foot p {
  font-weight: 300;
  font-size: 14px;
}

/* quantity */
.showcart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a4e6be;
  padding: 6px 10px;
  border-radius: 8px;
  margin-top: 10px;
}
#btn-cart {
  background: transparent;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
